# --- File compilati Java (non servono online) ---
*.class
*.jar
*.war

# --- Cartelle di build (create automaticamente) ---
target/
build/
bin/

# --- File specifici degli IDE (Eclipse, IntelliJ, VS Code) ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# --- File di sistema (Windows/Mac) ---
.DS_Store
Thumbs.db
